# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Databases
# =========================
*.sqlite3

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml
